// Buttons and Forms (shared settings)
$button-form--height: 			48px;		// height of buttons and forms
$button-form-sm--height: 		36px;		// height of buttons and forms (small)
$button-form--border-width: 	1px;		// border width (if you wish not to display any border, just set colors to null instead of changing this value)
$button-form--border-style: 	solid;		// border style
$button-form--group-padding: 	12px;		// padding separating input from button in a form group (.form-group). Prefer null over 0

// Buttons: text color
$button--color: (
	button-light: 		get-color(dark, 2),
	button-dark: 		get-color(light, 1),
	button-primary: 	get-color(light, 1),
	button-secondary:	get-color(light, 1),
	button-disabled: 	get-color(dark, 3)
);

// Buttons: background color
$button--bg: (
	button-light: 			get-color(light, 1),
	button-light-hover: 	darken(get-color(light, 1), 5%),
	button-dark: 			get-color(dark, 2),
	button-dark-hover: 		lighten(get-color(dark, 2), 2%),
	button-primary: 		get-color(primary, 1),
	button-primary-hover: 	lighten(get-color(primary, 1), 2%),
	button-secondary: 		get-color(secondary, 1),
	button-secondary-hover:	lighten(get-color(secondary, 1), 2%),
	button-disabled: 		get-color(light, 3)
);

// Buttons: border color
$button--border: (
	button-light: 			transparent,	// button-light is default (.button), so if it's transparent you can set all other values to null
	button-light-hover: 	null,
	button-dark: 			null,
	button-dark-hover: 		null,
	button-primary: 		null,
	button-primary-hover: 	null,
	button-secondary: 		null,
	button-secondary-hover: null,
	button-disabled: 		null
);

// Buttons: font size
$button--size: (
	button:	'eta'
);

// Buttons: font weight
$button--weight: (
	button:	600
);

// More buttons settings
$button--padding-h: 			32px;		// button, left and right padding
$button-sm--padding-h:			24px;		// button (small), left and right padding
$button-w-form--padding-h:		24px;		// button, left and right padding in a form group (.form-group) - Overrides button default padding
$button-sm-w-form--padding-h:	null;		// button (small), left and right padding in a form group (.form-group) - Overrides button default padding
$button--radius: 				2px;		// button radius (never use null)
$button--transform: 			null;	    // button text-transform property (null is allowed)
$button--max-size-mobile: 		280px;		// button max width on mobile (.button-wide-mobile)
$button-group-padding: 			16px;		// padding between sibling buttons (nested into .button-group)
$button-loading--thickness:		2px;		// button loading spinner, stroke width (.button.is-loading)

// Don't change lines below!
// Push $button--* and $form--* values
$color: 		map-push($color, $button--color);
$bg--color: 	map-push($bg--color, $button--bg);
$border--color: map-push($border--color, $button--border);
$font--size: 	map-push($font--size, $button--size);
$font--weight: 	map-push($font--weight, $button--weight);
